%h1 得点くん

%p
  サービス開始から
  %b #{Result.count}試合
  の結果が入力されました！

%h2 少年サッカーや少年野球チームの試合結果の記録を、シンプルに。

%p 「得点くん」はサッカーや野球のチームをはじめとする、スポーツチームの試合記録を支援するサービスです。
%p だれでも手軽に利用できる、簡単でシンプルなWebサービスを目指しています！

%h2 新規登録

%p= link_to '» チームを新規登録する', '/users/new'
