%h1 試合きろく

%p
  サービス開始から
  %b #{Result.count}試合
  の結果が入力されました！

%h2 少年サッカーや草野球チームの試合の記録を、シンプルに。

%p 「試合きろく」は少年サッカーや少年野球をはじめとする、小規模スポーツチームの試合結果記録を支援するサービスです。
%p だれでも手軽に利用できる、簡単でシンプルなWebサービスを目指しています！

%h2 新規登録

%p= link_to '» チームを新規登録する', '/users/new'
