/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.gray { color: #888888; }
.red { color: red; }
.small {
  font-size: 70%;
  line-height: 1.62;
}
.big {
  font-size: 150%;
  line-height: 1.62;
}
.bold { font-weight: bold; }
.nowrap { white-space: nowrap; }

body {
  margin: 24px 32px;
}

h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}
