// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presence {
  font-size: 11px;
  color: red;
}

.example {
  font-size: 11px;
  color: #444;
}

p.summary {
  padding: 6px 10px;
  margin: 0 8px;
  font-size: 13px;
  color: #444;
  background: #ddd;
  border-radius: 4px;
}

.results {
  table {
    border: 1px solid #ccc;
  }
  
  th {
    padding: 0 4px;
    border: 1px solid #ccc;
    background: #ddd;
    white-space: nowrap;
    border-radius: 1px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 0 4px;
    margin: 0;
    border-radius: 1px;
  }
}

hr {
  color: #ccc;
}
